body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

:root {
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --suble-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
}

.logo-studio {
  color: var(--dark-color);
}

.nav-list {
  list-style-type: none;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--pressed-color);
}

.nav-contact {
  list-style-type: none;
}
.nav-contact-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.nav-contact-item:hover,
.nav-contact-item:focus {
  color: var(--pressed-color);
}

footer {
  background-color: var(--dark-color);
}

.logo-studio-footer {
  color: var(--light-color);
}

.footer-note {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.hero-section {
  background-color: var(--dark-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-background);
  background-color: var(--brand-color);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--pressed-color);
}

.objectives-title {
  display: none;
}

.objectives-list {
  list-style-type: none;
}

.objective {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.objectives-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.introduction-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.introduction-list {
  list-style-type: none;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
  list-style-type: none;
}
.member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}

.filter-title {
  display: none;
}

.filter-list {
  list-style-type: none;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--light-color);
  border-color: #e7e9fc;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-color);
}

.projects-title {
  display: none;
}

.projects-list {
  list-style-type: none;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}
